<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails tutorial help page</a>
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book </a>

  You can also check out
  <a href="http://www.makersacademy.com"> Makers Academy </a>
  For an awesome learning experience and help develop your skills quickly and professionally.
</p>
